.inline-block {
    display: inline-block;
}

.dplayer-comment, .dplayer-setting-showdan, .dplayer-setting-danunlimit, .dplayer-setting-danmaku {
    display: none!important;
}

.anime-url {
    text-decoration: none;
}

.subheading {
    padding: 4px 0;
    color: #fff;
}

.metadata-line {
    width: 260px;
    margin: auto;
    color: #999;
}

.lightbox {
    box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 72px);
}

.recommendation {
    margin-top: 20px;
}

.play-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.play-icon .v-icon {
    font-size: 4rem!important;
    background: rgba(0, 0, 0, 0.75);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    transition: opacity 0.5s;
    opacity: 0;
}

.play-icon:hover .v-icon {
    opacity: 1;
    transition: opacity 0.5s;
}

.title-anime {
    color: #aaa;
}

.title-anime a {
    text-decoration: none;
    font-weight: 500;
    color: #aaa!important;
}

.fansub-verify {
    user-select: none;
    color: #aaa!important;
    padding-bottom: 1px;
}

div.siema {
    cursor: pointer!important;
}

.myanime-home {
    margin: auto;
    max-width: 1640px;
}

.myanime-home-1240 {
    margin: auto;
    max-width: 1240px;
}

.anime-head-title {
    padding: 15px 0;
    font-weight: 350;
}

.episode-view, .episode-moment, .title-anime {
    font-size: 14px;
}

.episode-view::after {
    content: '•';
    margin: 0 4px;
}

.episode-title {
    width: 260px;
    margin: auto;
    display: -webkit-box;
    max-height: 2.4rem;
    -webkit-box-orient: vertical;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    line-height: 18px;
    position: relative;
    -webkit-line-clamp: 2;
}

.player-left-content {
    width: 100%;
}

.anime-info-content .title-content {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.anime-player {
    position: relative;
    width: 100%;
}

.anime-cover {
    float: left;
    width: 140px;
}

.anime-info-content {
    padding-left: 14px;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    display: -webkit-flex;
}

.anime-info {
    max-width: 812px;
}

.anime-info .title-name {
    margin: 0 16px 0 0;
    width: 110px;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    width: 200px;
    text-transform: uppercase;
    color: #aaa;
}

.anime-title a {
    color: #fff!important;
    text-decoration: none;
}

.player-update-at {
    display: block;
    color: #aaa;
}

.player-description, .player-show-more, .player-anime-card {
    margin-left: 60px;
}

.player-show-more {
    color: #aaa;
    display: inline-flex;
    cursor: pointer;
}

.player-anime-card-container-title {
    font-weight: 400;
    font-size: 18px;
}

.player-anime-card-container-year, .player-anime-card-container-show-more {
    color: #aaa;
}

.multiple-episode {
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 6.7%, 0.8);
    color: hsla(0, 0%, 100%, 0.8);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.comments-count {
    font-size: 18px;
    font-weight: 400;
}

.player-episode-title {
    font-size: 24px;
}

.views {
    color: #aaa;
    font-size: 16px;
}

.player-thumb_up .v-btn, .player-thumb_down .v-btn {
    width: 40px!important;
    height: 40px!important;
}

.player-thumb_up, .player-thumb_down {
    cursor: pointer;
}

.anime-container {
    margin: 0 74px;
}

.player-thumb_down.active .v-btn, .player-thumb_down.active .number, .heart-count, .player-thumb_up.active .v-btn, .player-thumb_up.active .number {
    color: #3ea6ff!important;
}

.count-followers {
    margin-left: 4px;
}

.comment-content {
    white-space: pre-line;
    display: block;
}

.comment-user .time {
    color: #aaa;
    font-weight: 300;
}

.reply-user .time {
    color: #aaa;
    font-weight: 300;
    font-size: 13px;
}

.reply-user .name {
    font-size: 15px;
}

.comment-user.avatar, .reply-user.avatar {
    vertical-align: top !important;
}

.heart .v-btn {
    height: 32px!important;
    width: 32px!important;
}

.heart {
    display: inline;
}

.main-comment {
    display: inline-flex;
    width: 100%;
}

.comment-user .add-reply {
    position: relative;
    width: 100%;
}

.comment-user, .reply-user {
    width: 100%;
}

.comment-user.name, .comment-user.time, .reply-user.name, .reply-user.time {
    display: inline;
}

.click-to-show-reply {
    cursor: pointer;
}

.reply-comment {
    display: inline-flex;
    width: 100%;
}

.reply-area {
    padding-left: 56px;
    width: 100%;
}

.main-comment:hover .comment-control, .reply-comment:hover .comment-control {
    opacity: 1;
}

.comment-control {
    opacity: 0;
    display: inline-flex;
    vertical-align: top;
}

.player-sidebar {
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: row;
    flex-direction: row;
}

.player-sidebar-right-content {
    padding-left: 8px;
}

.player-sidebar-thumbnail {
    margin-right: 8px;
}

.player-sidebar-right-content.column {
    flex-direction: column;
}

.player-sidebar-right-content {
    overflow: hidden;
}

.player-sidebar-title {
    margin: 0 0 4px 0;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.player-sidebar-fansub-name, .player-sidebar-views {
    color: #aaa;
}

.player-playlist-video-fansub-title {
    overflow: hidden;
    font-size: 12px;
}

.player-playlist {
    width: 100%;
    position: relative;
}

.player-playlist-video {
    background: #292929;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.player-playlist-video::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.player-playlist-video::-webkit-scrollbar {
    width: 10px;
}

.player-playlist-video::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
}

.player-playlist-video::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.player-playlist-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.player-playlist-fansub-title {
    font-size: 13px;
}

.anime-channel-container {
    margin: auto;
}

.anime-channel-menus {
    width: 100%;
}

.anime-channel-menu {
    margin-left: 195px;
}

.anime-channel-follow {
    margin-top: 12px;
}

.anime-channel-genre {
    max-width: 640px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.anime-channel-season a {
    color: #fff!important;
    font-weight: 600;
}

.anime-channel-season {
    text-transform: uppercase;
    max-width: 320px;
    margin-top: 8px;
    color: #fff;
    display: -webkit-box;
    max-height: 6rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

.anime-channel-description {
    max-width: 100%;
    margin-top: 8px;
    color: #fff;
    display: -webkit-box;
    max-height: 6rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

.anime-channel-studio {
    line-height: 1.5rem;
    color: #fff;
}

.anime-channel-title {
    max-width: 320px;
    color: #fff;
    display: -webkit-box;
    white-space: normal;
    max-height: 4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-size: 28px;
    font-weight: 700;
    line-height: 2rem;
}

.anime-channel {
    width: 100%;
    position: relative;
}

.anime-channel-cover {
    width: 184px;
    height: 256px;
    border-radius: 2px;
    float: left;
}

.anime-channel-details {
    padding-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    display: -webkit-flex;
}

.anime-channel-header {
    height: 350px;
    position: relative;
}

.anime-channel-content {
    width: 1284px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    /* position: relative;
    width: 100%;
    height: 100%;
    padding: 48px 0;
    margin: 0 195px!important; */
}

.anime-channel-banner {
    position: absolute!important;
    height: 100%;
    width: 100%;
}

.anime-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
}

.fansub-title a {
    text-decoration: none;
    color: #fff!important;
}

.title-anime a, .fansub-title a {
    display: inline-flex;
    align-items: center;
}

.anime-flag {
    margin-left: 10px;
}

.search-content {
    display: flex;
    position: relative;
    flex-direction: row;
}

.search-thumbnail {
    width: 246px;
    margin-right: 16px;
    display: inline-block;
    position: relative;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}

.search-thumbnail-link {
    text-decoration: none;
}

.search-thumbnail-link .search-title {
    color: #fff;
}

.search-right-content {
    max-width: 600px;
    min-width: 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.search-title {
    font-size: 20px;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.search-views {
    color: #aaa;
    font-weight: 400;
}

.search-description {
    color: #aaa;
    font-weight: 400;
    display: block;
    line-height: 1.8rem;
    max-height: 5.6rem;
    overflow: hidden;
    text-transform: none;
}

.search-description>a {
    text-decoration: none;
}

.search-overlay {
    display: block;
}

.search-anime-thumbnail {
    position: absolute!important;
    left: 0;
    bottom: 0;
    display: flex!important;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.search-anime {
    width: 108px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 6.7%, 0.8);
    color: hsla(0, 0%, 100%, 0.8);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.season-thumbnail {
    width: 260px;
    margin-right: 16px;
    margin: auto;
    position: relative;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}

.season-anime-thumbnail {
    position: absolute!important;
    left: 0;
    bottom: 0;
    display: flex!important;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.season-anime {
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 6.7%, 0.8);
    color: hsla(0, 0%, 100%, 0.8);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.episode-thumbnail {
    background: url('/thumb-error.jpg');
    width: 260px;
    margin: auto;
    height: 146px;
}

.season-anime-title {
    color: #fff!important;
    margin-top: 8px;
    display: -webkit-box;
    max-height: 2.5rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.3rem;
}

.season-anime-link {
    text-decoration: none;
}

.season-anime-total-views, .season-anime-total-eps {
    color: #606060;
    display: inline-flex;
    max-height: 1.2rem;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.season-anime-total-views::before {
    content: '•';
    margin: 0 4px;
}

.season-anime-cover .v-image {
    width: 210px!important;
    height: 290px!important;
}

div[button="logo"] .jw-button-image {
    width: 100%;
    height: 100%;
    background-size: 80px;
}

div[button="logo"] {
    width: 100px;
}

.h-64 {
    height: 64px!important;
}

.i-48 {
    height: 48px!important;
    width: 48px!important;
}

.jump-ep {
    height: 20px;
    background: #000;
    line-height: normal;
    text-align: center;
    border: 0;
    border-radius: 2px;
    outline: 0;
}

@media (max-width: 575.98px) {
    .anime-container {
        margin: 0 10px!important;
    }
    .anime-channel-content {
        width: 428px!important;
        margin: 0 8px!important;
    }
    .anime-channel-container {
        margin: 0 2px!important;
    }
    .user-lists-title {
        max-width: 150px;
        overflow: hidden;
    }
}

@media (min-width: 1264px) and (max-width: 1500px) {
    .lg2-custom {
        flex-basis: 25%!important;
        flex-grow: 0;
        max-width: 25%!important;
    }
}

@media (min-width: 1264px) {
    .container {
        max-width: 1904px!important;
    }
    .anime-container {
        margin: 0 54px;
    }
    .anime-channel-content {
        width: 1284px;
    }
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 1200px!important;
        margin: 0!important;
        margin-right: 0!important;
    }
    .anime-container {
        margin: 0 24px;
    }
    .anime-channel-content {
        width: 856px;
    }
    .anime-channel-container {
        margin: 0 14px!important;
    }
    .anime-info .title-name {
        width: 80px !important;
    }
    .user-lists-description {
        display: -webkit-box;
        max-height: 2.2rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        line-height: 20px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}