.inline-block {
    display: inline-block;
}

.anime-url {
    text-decoration: none;
}

.subheading {
    padding: 4px 0;
    color: #fff;
}

.metadata-line {
    color: #999;
}

.lightbox {
    box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 72px);
}

.recommendation {
    margin-top: 20px;
}

.play-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.play-icon .v-icon {
    color: red;
    font-size: 4rem!important;
    background: rgba(0, 0, 0, 0.75);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    transition: opacity 0.5s;
    opacity: 0;
}

.play-icon:hover .v-icon {
    opacity: 1;
    transition: opacity 0.5s;
}

.title-anime {
    color: #aaa;
}

.title-anime a {
    text-decoration: none;
    font-weight: 500;
    color: #aaa!important;
}

.fansub-verify {
    user-select: none;
    color: #aaa!important;
    padding-bottom: 1px;
}

div.siema {
    cursor: pointer!important;
}

.myanime-home {
    margin: auto;
    max-width: 1284px
}

.anime-head-title {
    padding: 15px 0;
    font-weight: 350;
}

.episode-view::after {
    content: '•';
    margin: 0 4px;
}

.episode-title {
    display: -webkit-box;
    max-height: 2.4rem;
    -webkit-box-orient: vertical;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    line-height: 18px;
    position: relative;
    -webkit-line-clamp: 2;
}

.player-left-content {
    width: 100%;
}

.anime-player {
    position: relative;
    width: 100%;
}

.anime-cover {
    float: left;
    width: 140px;
}

.anime-info-content {
    padding-left: 14px;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    display: -webkit-flex;
}

.anime-info {
    max-width: 612px;
}

.anime-info .title-name {
    margin: 0 16px 0 0;
    width: 110px;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    width: 200px;
    text-transform: uppercase;
    color: #aaa;
}

.anime-title a {
    color: #fff!important;
    text-decoration: none;
}

.player-update-at {
    display: block;
    color: #aaa;
}

.player-description, .player-show-more, .player-anime-card {
    margin-left: 60px;
}

.player-show-more {
    color: #aaa;
    display: inline-flex;
    cursor: pointer;
}

.player-anime-card-container-title {
    font-weight: 400;
    font-size: 18px;
}

.player-anime-card-container-year, .player-anime-card-container-show-more {
    color: #aaa;
}

.comments-count {
    font-size: 18px;
    font-weight: 400;
}

.player-episode-title {
    font-size: 24px;
}

.views {
    color: #aaa;
    font-size: 16px;
}

.player-thumb_up {
    cursor: pointer;
}

.player-thumb_down {
    cursor: pointer;
}

.dplayer-comment, .dplayer-setting-showdan, .dplayer-setting-danunlimit, .dplayer-setting-danmaku {
    display: none!important;
}

.anime-container {
    margin: 0 74px;
}

.player-thumb_down.active .v-btn, .player-thumb_down.active .number, .heart-count, .player-thumb_up.active .v-btn, .player-thumb_up.active .number {
    color: #3ea6ff!important;
}

.count-followers {
    margin-left: 4px;
}

.comment-content {
    white-space: pre-line;
    display: block;
}

.comment-user .time {
    color: #aaa;
    font-weight: 300;
}

.reply-user .time {
    color: #aaa;
    font-weight: 300;
    font-size: 13px;
}

.reply-user .name {
    font-size: 15px;
}

.comment-user.avatar, .reply-user.avatar {
    vertical-align: top !important;
}

.heart {
    display: inline;
}

.main-comment {
    display: inline-flex;
    width: 100%;
}

.comment-user .add-reply {
    position: relative;
    width: 100%;
}

.comment-user, .reply-user {
    width: 100%;
}

.comment-user.name, .comment-user.time, .reply-user.name, .reply-user.time {
    display: inline;
}

.click-to-show-reply {
    cursor: pointer;
}

.reply-comment {
    display: inline-flex;
    width: 100%;
}

.reply-area {
    padding-left: 56px;
    width: 100%;
}

.main-comment:hover .comment-control, .reply-comment:hover .comment-control {
    opacity: 1;
}

.comment-control {
    opacity: 0;
    display: inline-flex;
    vertical-align: top;
}

.player-sidebar {
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: row;
    flex-direction: row;
}

.player-sidebar-right-content {
    padding-left: 8px;
}

.player-sidebar-thumbnail {
    margin-right: 8px;
}

.player-sidebar-right-content.column {
    flex-direction: column;
}

.player-sidebar-right-content {
    overflow: hidden;
}

.player-sidebar-title {
    margin: 0 0 4px 0;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.player-sidebar-fansub-name, .player-sidebar-views {
    color: #aaa;
}

.player-playlist-video-fansub-title {
    overflow: hidden;
    font-size: 12px;
}

.player-playlist {
    width: 100%;
    position: relative;
}

.player-playlist-video {
    background: #292929;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.player-playlist-video::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.player-playlist-video::-webkit-scrollbar {
    width: 10px;
}

.player-playlist-video::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
}

.player-playlist-video::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.player-playlist-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.player-playlist-fansub-title {
    font-size: 13px;
}

.anime-channel-container {
    margin: 0 190px;
}

.anime-channel-menus {
    width: 100%;
}

.anime-channel-menu {
    margin-left: 195px;
}

.anime-channel-follow {
    margin-top: 12px;
}

.anime-channel-genre {
    max-width: 640px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.anime-channel-season {
    text-transform: uppercase;
    max-width: 320px;
    margin-top: 8px;
    color: #aaa;
    display: -webkit-box;
    max-height: 6rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

.anime-channel-description {
    text-transform: uppercase;
    max-width: 650px;
    margin-top: 8px;
    color: #aaa;
    display: -webkit-box;
    max-height: 6rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

.anime-channel-studio {
    line-height: 1.5rem;
    color: #aaa;
}

.anime-channel-title {
    max-width: 320px;
    color: #fff;
    display: -webkit-box;
    white-space: normal;
    max-height: 4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 400;
    line-height: 2rem;
}

.anime-channel {
    width: 100%;
    position: relative;
}

.anime-channel-cover {
    width: 184px;
    height: 256px;
    border-radius: 2px;
}

.anime-channel-details {
    position: relative;
    margin-left: 40px;
}

.anime-channel-header {
    height: 350px;
    position: relative;
}

.anime-channel-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 48px 0;
    margin: 0 195px!important;
}

.anime-channel-banner {
    position: absolute!important;
    height: 100%;
    width: 100%;
}

.anime-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.fansub-title a {
    text-decoration: none;
    color: #fff!important;
}

.title-anime a, .fansub-title a {
    display: inline-flex;
    align-items: center;
}

.anime-flag {
    margin-left: 10px;
}

@media (max-width: 575.98px) {
    .anime-container {
        margin: 0 10px!important;
    }
    .dplayer-setting {
        display: none!important;
    }
}

@media (min-width: 1264px) {
    .container {
        max-width: 1904px!important;
    }
    .anime-container {
        margin: 0 54px;
    }
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 1200px!important;
        margin: 0!important;
        margin-right: 0!important;
    }
    .anime-container {
        margin: 0 24px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}